.hamburger-menu {
    display: none;
}
.hamburger-menu1 {
    display: none;
}
.ham-icon {
    color: #283044;
}

@media (max-width: 898px) {
    .menu-link {
        display: none;
      }
      .hamburger-menu {
        display: block;
        font-size: 2rem;
        position: absolute;
        right: 30px;
        top: 25px;
      }    
}
@media (max-width: 498px) {
    .menu-link1 {
        display: none;
      }
      .hamburger-menu1 {
        display: block;
        font-size: 2rem;
        position: absolute;
        right: 30px;
        top: 25px;
      }   
}